<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend class="d-flex justify-content-center">Logo</legend>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
        </div>
        <div class="d-flex justify-content-around">
          <button type="submit" class="btn btn-info">Login</button>
          <button class="btn btn-info">Sign Up</button>

        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>