<div class="navbar navbar-dark bg-dark">
    <div class="col-sm-3 d-flex justify-content-around">
      <span class="">Logo</span>
    </div>
    <div class="col-sm-6">
      <form class="">
        <input class="form-control" type="text" placeholder="Search">
        
      </form>
    </div>
    <div class="col-sm-3 d-flex justify-content-end">
      
      <div *ngIf="!checkLogin()">
        <a class="btn btn-info" href="/login">Login</a>
      </div>
      <div *ngIf="checkLogin()">
            {{name}}
        <button class="btn btn-danger" (click)="logout()">Log out</button>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>

